header {
  padding: 20px 10px;
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
}

.item {
  display: inline-block;
  margin-right: 20px;
}

.decoration {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
  background-image: linear-gradient(90deg, purple, #fffd80);
  z-index: 120;
}

.title {
  margin-top: 50px;
  text-align: center;
}

.instruction {
  text-align: center;
  color: darkslategrey;
}

.message {
  text-align: center;
}

.form {
  text-align: center;
}

.img {
  text-align: center;
}

img {
  width: 800px;
}

.summary {
  text-align: center;
}

.description {
  text-align: center;
}

ul { 
	display: inline-block; 
	text-align: left; 
}