<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Face Mask Detector</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" >
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  </head>
  <body>
    <header>
      <a class="item" href="https://hide27k.github.io/face-mask-detection" target="_blank">About</a>
      <a class="item" href="https://github.com/hide27k/face-mask-detection/issues" target="_blank">Report a bug</a>
    </header>
    <div class="decoration"></div>
    <h1 class="title"> Face Mask Detector </h1>
    <p class="instruction"> Choose a model to run in the backend</p>
    <div class="models">
      <button class="vgg">
        <a href="{{ url_for('upload_file_vgg') }}" >VGG19</a>
      </button>
      <button class="vgg">
        <a href="{{ url_for('upload_file_resnet') }}" >ResNet34</a>
      </button>
    </div>
  </body>
</html>