<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Face Mask Detector</title>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" >
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="option">
        <a class="item" href="https://hide27k.github.io/face-mask-detection" target="_blank">About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <a class="item" href="https://github.com/hide27k/face-mask-detection/issues" target="_blank">Report a bug</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </div>
      <br><br><br><br>
      <img src="{{ url_for('static', filename='img/logo.png') }}" width="25%" class="center"/>
      <br>
    </header>
    <div class="decoration"></div>
    <p class="instruction"><p><b>Choose a model to run in the backend</b></p>
    <br>
    <div class="models">
      <a href="{{ url_for('upload_file_vgg') }}" >
        <button class="button vgg">
          <h4>VGG19</h4>
        </button>
      </a>
      <a href="{{ url_for('upload_file_resnet') }}" >
        <button class="button resnet">
          <h4>ResNet34</h4>
        </button>
      </a>
    </div>
  </body>
</html>